<div class="w-full">
    <div class="flex justify-center items-center min-h-screen">
        <div class="grid grid-cols-6 w-full">
            <div class="col-start-2 col-span-4">
                <p-card>
                    <p-button icon="pi pi-arrow-left" [routerLink]="['/']"/>
                    <div class="text-900 text-3xl font-medium mb-3 text-center">Bienvenue !</div>
                    <div class="w-full flex flex-col md:flex-row items-center justify-center gap-3 py-5">
                        <div class="w-full md:w-5/12 flex flex-col items-center justify-center gap-3">
                            <div class="flex flex-col gap-2">
                                <label for="email">Email</label>
                                <input pInputText id="email" type="text" />
                            </div>
                            <div class="flex flex-col gap-2">
                                <label for="password">Mot de passe</label>
                                <input pInputText id="password" type="password" />
                            </div>
                            <div class="flex w-full items-center justify-center">
                                <p-button label="Connexion" icon="pi pi-user" class="w-full max-w-[17.35rem]" styleClass="w-full" />
                            </div>
                        </div>
                        <div class="w-full md:w-auto flex items-center justify-center h-full">
                            <p-divider layout="vertical" class="hidden md:flex h-full min-h-[10rem]"><b>OR</b></p-divider>
                            <p-divider layout="horizontal" class="flex md:hidden" align="center"><b>OR</b></p-divider>
                        </div>                        
                        <div class="w-full md:w-5/12 flex items-center justify-end py-5">
                            <p-button label="Inscription" icon="pi pi-user-plus" severity="success" class="w-full max-w-[17.35rem]" styleClass="w-full" />
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>