<div>
    <div>
        <div class="mt-5 mb-5">
            <h4 class="text-center">Recherche d'un actif</h4>
        </div>

        <div class="w-full">
            <p-autocomplete [(ngModel)]="action" fluid [suggestions]="filteredActifs" (completeMethod)="filterActifs($event)" (onSelect)="onActionSelect($event)" optionLabel="name">
                <ng-template let-item #item>
                    <div class="flex items-center gap-2">
                        <div>{{ item.ticker }}</div>
                        <div> - </div>
                        <div>{{ item.name }}</div>
                    </div>
                </ng-template>
                <ng-template #header>
                    <div class="font-medium px-3 py-2">Actifs disponible</div>
                </ng-template>
            </p-autocomplete>
        </div>
        
        <div *ngIf="showActifInfo" class="mt-5">
            <div class="grid grid-cols-12">
                <div class="col-span-12 md:col-span-6">
                    <p-card styleClass="m-5 border-2 border-gray-300">
                        <div>
                            <h4 class="text-center !mb-0">Prix le plus bas</h4>
                            <div class="flex flex-row justify-center items-center">
                                <i class="pi pi-arrow-down mt-2 mr-2" style="color: red"></i>
                                <h4 class="text-center">{{bottomPrice}} €</h4>
                            </div>
                            
                        </div>
                    </p-card> 
                </div>
                <div class="col-span-12 md:col-span-6">
                    <p-card styleClass="m-5 border-2 border-gray-300">
                        <div>
                            <h4 class="text-center !mb-0">Prix le plus haut</h4>
                            <div class="flex flex-row justify-center items-center">
                                <i class="pi pi-sort-alt mt-2 mr-2" style="color: green"></i>
                                <h4 class="text-center">{{topPrice}} €</h4>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
        
    </div>
    
    <div 
        *ngIf="showActifInfo"
        pAnimateOnScroll
        enterClass="animate-fadein"
        leaveClass="animate-fadeout"
        class="animate-duration-1500">
        <p-card styleClass="bg-gradient-to-r from-[#172b4d] to-[#1a174d] shadow mt-10">
            <p-chart type="line" [data]="chartData" [options]="chartOptions" />
        </p-card>
    </div>
</div>