<section id="BudgetFininsy" class="min-h-screen py-10">
    <div class="container mx-auto px-4 lg:px-20">
      <div class="mb-10 text-center">
        <h2 class="text-3xl font-bold mb-2">Gestion du budget (en développement...)</h2>
        <p class="text-gray-500">Visualisez vos dépenses sur le mois</p>
      </div>
  
      <div class="rounded-2xl shadow-lg overflow-hidden p-6 bg-white dark:bg-gray-900">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>      
    </div>
  </section>
  