<div class="mb-10">
    <div class="mt-10">
        <div class="grid grid-cols-12">
            <div class="flex items-center col-span-12 md:col-span-6 m-5">
                <p-card>
                    <div>
                        <h1 class="!font-serif text-center">Qui suis-je ? 🧑‍💻</h1>
                        <p class="text-center text-2xl !m-5">
                            Passionné par le développement web et les nouvelles technologies, je suis un développeur fullstack spécialisé dans les technologies Angular/Vuejs, NestJS/.Net. 
                        </p>                        
                    </div>
                </p-card>
            </div>
            <div class="flex items-center col-span-12 md:col-span-6 m-5">
                <p-card>
                    <div>
                        <h1 class="!font-serif text-center">Me contacter ? 🤝</h1>
                        <p class="text-center text-2xl !m-5">
                            Je suis disponible directement sur LinkedIn pour échanger sur vos projets, vos besoins ou simplement pour discuter de technologie. N'hésitez pas à me contacter, je serai ravi de vous répondre.
                        </p>
                        <div class="text-center">
                            <a href="https://www.linkedin.com/in/quentin-goedgebuer/"><i class="pi pi-linkedin" style="color: #0a66c2; font-size: 2rem"></i></a>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
    

    <div class="mt-10">
        <p-card>
            <div>
                <h1 class="!font-serif text-center">Bienvenue sur mon Portfolio 🚀</h1>
                <p class="text-center text-2xl !m-5">
                    Ce portfolio regroupe tous mes projets, conçus pour mettre en avant mes compétences et mon savoir-faire en développement.
                    Il a été entièrement réalisé avec les technologies suivantes :
                </p>
                <ul class="!list-disc text-lg ml-5">
                    <li><b>Frontend :</b> Angular 18, PrimeNG 18 et Tailwind CSS, pour une interface moderne, élégante et performante.</li>
                    <li><b>Backend :</b> NestJS et Prisma pour une API scalable et fiable.</li>
                    <li><b>Base de données :</b> PostgreSQL, garantissant des données fiables et bien structurées.</li>
                </ul>
            </div>
        </p-card>
    </div>
    
    

    <div 
        pAnimateOnScroll
        enterClass="animate-fadein"
        leaveClass="animate-fadeout"
        class="animate-duration-1500">
        <p-card styleClass="mt-10">
            <p-chart type="bar" [data]="chartData" [options]="chartOptions" />
        </p-card>
    </div>

    <div 
        pAnimateOnScroll
        enterClass="animate-fadein"
        leaveClass="animate-fadeout"
        class="animate-duration-1500">
        <p-card styleClass="mt-10">
            <h1 class="!font-serif text-center">Etudes supérieur</h1>
            <div class="grid grid-cols-12">
                <div class="flex items-center col-span-12 md:col-span-6">
                   <p-card styleClass="m-5 border-2 border-gray-300">
                        <div>
                            <h3 class="font-eurostile text-center !mb-0">Bac +2 BTS SIO - Lycée Guy Mollet Arras</h3>
                            <h3 class="font-eurostile text-center !mt-0">Services Informatiques aux Organisations</h3>
                            <div class="flex justify-center">
                                <p-image src="https://www.btsinfo.fr/wp-content/uploads/2017/10/logo-certa.png" [preview]="true" alt="Image" width="250">
                                    <ng-template #indicator>
                                        <i class="pi pi-search"></i>
                                    </ng-template>
                                    <ng-template #image>
                                        <img src="https://www.btsinfo.fr/wp-content/uploads/2017/10/logo-certa.png" alt="image" width="250" />
                                    </ng-template>
                                    <ng-template #preview let-style="style" let-previewCallback="previewCallback">
                                        <img src="https://www.btsinfo.fr/wp-content/uploads/2017/10/logo-certa.png" alt="image" [style]="style" (click)="previewCallback()" />
                                    </ng-template>
                                </p-image>
                            </div>
                        </div>
                    </p-card> 
                </div>
                <div class="flex items-center col-span-12 md:col-span-6">
                    <p-card styleClass="m-5 border-2 border-gray-300">
                        <div>
                            <h3 class="font-eurostile text-center !mb-0">Bac +5 Mastère EISI - EPSI Arras</h3>
                            <h3 class="font-eurostile text-center !mt-0">Expert en Informatique et Systèmes d'Informations</h3>
                            <div class="flex justify-center">
                                <p-image src="https://sarcdprodstrapi.blob.core.windows.net/strapi-media/assets/logo_epsi_8b6f0271b8.png" [preview]="true" alt="Image" width="250">
                                    <ng-template #indicator>
                                        <i class="pi pi-search"></i>
                                    </ng-template>
                                    <ng-template #image>
                                        <img src="https://sarcdprodstrapi.blob.core.windows.net/strapi-media/assets/logo_epsi_8b6f0271b8.png" alt="image" width="250" />
                                    </ng-template>
                                    <ng-template #preview let-style="style" let-previewCallback="previewCallback">
                                        <img src="https://sarcdprodstrapi.blob.core.windows.net/strapi-media/assets/logo_epsi_8b6f0271b8.png" alt="image" [style]="style" (click)="previewCallback()" />
                                    </ng-template>
                                </p-image>
                            </div>
                            
                        </div>
                    </p-card>
                </div>
                
            </div>
        </p-card>
    </div>
    

    <div
        pAnimateOnScroll
        enterClass="animate-fadein"
        leaveClass="animate-fadeout"
        class="animate-duration-1500">
        <p-card styleClass="mt-10">
            <h1 class="!font-serif text-center">Projets</h1>
            <div class="grid grid-cols-12">
                <div class="col-span-12 md:col-span-6">
                    <p-card styleClass="m-5 border-2 border-gray-300">
                        <h3 class="text-center">Fininsy</h3>
                        <div class="flex justify-center">
                            <p-image src="https://static.vecteezy.com/system/resources/previews/015/716/069/non_2x/financial-management-concept-and-investment-flat-design-of-payment-and-finance-with-money-cash-banknote-free-png.png" [preview]="true" alt="Image" width="250">
                                <ng-template #indicator>
                                    <i class="pi pi-search"></i>
                                </ng-template>
                                <ng-template #image>
                                    <img src="https://static.vecteezy.com/system/resources/previews/015/716/069/non_2x/financial-management-concept-and-investment-flat-design-of-payment-and-finance-with-money-cash-banknote-free-png.png" alt="image" width="250" />
                                </ng-template>
                                <ng-template #preview let-style="style" let-previewCallback="previewCallback">
                                    <img src="https://static.vecteezy.com/system/resources/previews/015/716/069/non_2x/financial-management-concept-and-investment-flat-design-of-payment-and-finance-with-money-cash-banknote-free-png.png" alt="image" [style]="style" (click)="previewCallback()" />
                                </ng-template>
                            </p-image>
                        </div>
                        <div class="flex justify-center mt-5">
                            <p-button routerLink="/fininsy" label="Aller sur le projet" icon="pi pi-check" />
                        </div>
                    </p-card>
                </div>
            </div>
            
        </p-card>
    </div>
    
</div>

