<div class="mb-10">
    <div>
        <p-card>
            <p-tabs value="0">
                <p-tablist>
                    <p-tab value="0">
                        <i class="pi pi-search" style="font-size: 1.5rem"></i>
                        <span>Recherche</span>
                    </p-tab>
                    <p-tab *ngIf="isAuthenticated()" value="1">
                        <i class="pi pi-credit-card" style="font-size: 1.5rem"></i>
                        <span>Portefeuille</span>
                    </p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <app-recherche />
                    </p-tabpanel>
                    <p-tabpanel *ngIf="isAuthenticated()" value="1">
                        <app-portefeuille />
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </p-card>
    </div>
    
</div>
