<section id="PortefeuilleFininsy" class="py-10">
    <div *ngIf="isAuthenticated()" class="m-10 lg:mx-52 animate-slide-up">

        

        <div class="m-5">
            <div class="flex justify-between items-center">
                <div class="flex justify-start items-center">
                    <span class="font-bold text-lg mr-5">
                        Total des portefeuilles : {{ formatCurrency(totalInvesti()) }}
                    </span>
                    <p-button [pTooltip]="tooltipContent" [tooltipOptions]="{ showDelay: 300, tooltipStyleClass: 'custom-tooltip' }" icon="pi pi-info" [rounded]="true" severity="contrast" />
                    <ng-template #tooltipContent>
                        <div class="flex flex-col items-center p-4">
                            <span class="font-bold text-lg mb-2">Les totaux reflètent les montants investis</span>
                            <span class="font-bold text-lg">Les valeurs globales des actifs sont arrondies</span>
                        </div>
                    </ng-template>

                </div>
                <div class="flex justify-end items-center">
                    <p-button label="Ajouter un portefeuille" icon="pi pi-plus" iconPos="right" (click)="showPortefeuilleDialog()" />
                </div>
            </div>

            <app-create-actif 
                *ngIf="actifVisible"
                [(visible)]="actifVisible" 
                [portefeuilleId]="portefeuilleSelectedId" 
            />

            <app-create-portefeuille
                *ngIf="portefeuilleVisible"
                [(visible)]="portefeuilleVisible"
            />
        </div>

        <p-accordion [value]="0">
            <p-accordion-panel *ngFor="let portefeuille of portefeuilles(); let i = index" [value]="i">
                <p-accordion-header>
                    <ng-template #toggleicon let-active="active">
                        <i *ngIf="active" class="pi pi-minus"></i>
                        <i *ngIf="!active" class="pi pi-plus"></i>
                    </ng-template>
                    <span class="flex items-center gap-2 w-full">
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
                        <span class="font-bold">{{portefeuille.nom}}</span>
                        <span class="font-bold mx-auto">Total : {{ formatCurrency(portefeuille.totalInvesti) }}</span>
                        <p-badge [value]="'Nombre d\'actifs: ' + portefeuille.nbActifs" class="mr-2" />
                    </span>
                </p-accordion-header>
                <p-accordion-content>
                    <div class="flex justify-end">
                        <p-button class="m-5" label="Ajouter un actif" icon="pi pi-plus" iconPos="left" (click)="showActifDialog(portefeuille.id)" />
                        <p-button class="m-5" label="Supprimer le portefeuille" icon="pi pi-times" iconPos="left" (click)="showActifDialog(portefeuille.id)" severity="danger"/>
                    </div>
      
                    <div class="grid grid-cols-3 gap-8 w-full">
                        <div *ngFor="let actif of portefeuille.actifs" class="flex justify-center w-full">
                            <p-card styleClass="shadow-xl border-round-xl bg-white dark:bg-gray-900" class="w-full">
                                <ng-template pTemplate="content">
                                    <div class="flex align-items-center justify-content-between p-3">
                                        <span class="text-xl font-bold">{{ actif.nom }}</span>
                                        <span class="text-lg font-bold ml-auto">{{ actif.symbole }}</span>
                                    </div>
                                    <div class="p-3">
                                        <div>
                                            <div class="col-12 mb-3">
                                                <div class="flex align-items-center">
                                                    <i class="pi pi-euro mr-2 text-primary"></i>
                                                    <span class="font-medium">Montant Investi:</span>
                                                    <span class="ml-2 text-lg font-bold">{{ actif.montantInvesti }}</span>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="flex align-items-center">
                                                    <i class="pi pi-chart-bar mr-2 text-primary"></i>
                                                    <span class="font-medium">Quantité:</span>
                                                    <span class="ml-2 text-lg">{{ actif.quantite }}</span>
                                                </div>
                                            </div>
                                            <!-- <div class="col-12 mb-3">
                                                <div class="flex align-items-center">
                                                    <i class="pi pi-wave-pulse mt-2 mr-2" style="color: green"></i>
                                                    <span class="ml-2 text-lg">49%</span>
                                                </div>
                                            </div> -->
                                            <div *ngIf="actif.prix" class="col-12 mb-3">
                                                <div class="flex align-items-center">
                                                    <i [class]="(actif.prix * actif.quantite) >= actif.montantInvesti ? 'pi pi-arrow-up mt-2 mr-2' : 'pi pi-arrow-down'" [style]="(actif.prix * actif.quantite) >= actif.montantInvesti ? 'color: green' : 'color: red'"></i>
                                                    <span class="font-medium"></span>
                                                    <span class="ml-2 text-lg">{{formatCurrency(actif.prix * actif.quantite)}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <div class="flex justify-center items-center gap-4 pt-2">
                                        <p-button icon="pi pi-eye" label="Details" />
                                        <p-button icon="pi pi-times" label="Supprimer" severity="danger"/>
                                        <p-button icon="pi pi-dollar" label="Afficher le prix de l'actif" severity="secondary"  (onClick)="getPriceActif(actif.symbole, portefeuille.id, actif.id)"/>
                                    </div>
                                </ng-template>
                            </p-card>
                        </div>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>
    <div *ngIf="!isAuthenticated()" class="m-10">
        <div class="flex justify-center items-center h-full mt-5">
            <h5>Veuillez-vous connecter pour accéder a votre portefeuille</h5>
        </div>
    </div>
</section>

