<section id="fininsy" class="min-h-screen relative pt-16 overflow-hidden">
  <div>
    <p-menubar [model]="items" styleClass="m-10 lg:mx-52"/>

    <div class="p-4">
        <ng-container [ngSwitch]="currentView">
            <div *ngSwitchCase="'recherche'">
                <app-recherche />
            </div>
            <div *ngSwitchCase="'portefeuille'">
                <app-portefeuille />
            </div>
            <div *ngSwitchCase="'budget'">
                <app-budget />
            </div>
            <div *ngSwitchCase="'parametre'">
                <div class="flex justify-center py-20">
                    <h2>En développement...</h2>
                </div>
            </div>
            <div *ngSwitchDefault>
                <app-recherche />
            </div>
        </ng-container>
    </div>
  </div>
</section>
