<div class="flex flex-col items-center justify-center min-h-screen text-gray-800 dark:text-gray-200">
    <div class="text-center p-8">
      <h1 class="text-9xl font-extrabold text-primary mb-4">404</h1>
      <h2 class="text-2xl font-semibold mb-2">Page non trouvée</h2>
      <p class="text-gray-600 mb-6">La page que vous recherchez semble introuvable.</p>
      
      <button pButton type="button" label="Retour à l'accueil" icon="pi pi-home"
        class="p-button-rounded p-button-primary" (click)="goHome()">
      </button>
    </div>
</div>
  